.div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: white;
}

.img{
    width: 80%;
}

.div h1{
    font-size: 100%;
}

.div h2{
    font-size: 80%;
    color: red;
}   